
.downArrow{
    background:url("arrowdown.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;
  
}
    
.upArrow{
    background:url("arrowup.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;
  
}

.ddownArrow{
    background:url("darrowdown.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;
 
}

.dupArrow{
    background:url("darrowup.png");
    background-size: 45px 45px;
    cursor:pointer;
    width: 45px;
    height: 45px;
    border: none;

}

.Menu { 
    grid-area: menu; 
    border-radius: 50px 0px 0px 50px;
}

.top { 
    grid-area: top; 
    background-color: rgb(204, 220, 243);
    border-radius: 50px 50px 0px 0px;
}

.S1 { grid-area: S1; }
.S2 { grid-area: S2; }
.S3 { grid-area: S3; border-radius: 0px 50px 0px 0px;}
.S4 { grid-area: S4; }
.S5 { grid-area: S5; }
.S6 { grid-area: S6; border-radius: 0px 0px 50px 0px;}


.grid-container {
  margin: auto;
  display: grid;
  width: 1100px;
  grid-template-columns: 200px auto;
  grid-template-areas:
    'menu S1 S1 S3 S3'
    'menu S1 S1 S3 S3'
    'menu S2 S2 S4 S4'
    'menu S2 S2 S4 S4'
    'menu S5 S5 S6 S6'
    'menu S5 S5 S6 S6';
  grid-gap: 2px;
  background-color: white;
  padding: 2px;
  border-radius: 50px 50px 50px 50px;
}

.grid-container > div {
  background-color: rgb(204, 220, 243);
  text-align: center;
  font-size: 15px;
  font-weight: bold
}

table {
    
    width: 100%; 
    table-layout:fixed;
    border-radius: 25px;
   
}

.colored {
    background-color: rgb(42, 73, 169);
    font-family:Verdana;
}


table.fixed { table-layout:fixed;}
table.fixed td { overflow: hidden; }


#hintbox{
    opacity: 0.95;
    display:none;
    position: absolute;
    width: 250px;
    font-size: 12 px;
    background-color: #161616;
    color: #fff;
    padding: 8px;
    border-radius:5px;
    text-align: left;
    word-wrap: break-word;
    
}      

.red{
    color: red;
}

.title{
    font-size: 20px; 
    color: grey;
    font-family:Courier New;
}

.info{
    color: rgb(190, 131, 75)
}

html{
    height: 1300px;
    background-image: url(simwallpaper.png);
}

.passive{
    color: yellow;
}

.notMaxedSkillPoint{
    color: black;
}

.maxedSkillPoint{
    color: rgb(220, 0, 0);
    font-weight: bold
}

.classIcon{
    background-size: 60px 100px;
    cursor:pointer;
    width: 60px;
    height: 100px;
    border: none;
    margin: 5px;
    
}

